<div class="card">
  <div class="card-header p-1">
    {{ group.name }}
    <app-add-student/>
  </div>
  <div class="card-body align-items-center d-flex justify-content-between table-responsive">
    <table class="table table-hover">
      <tbody>
      @for( student of group.students; track student) {
          <tr (click)="showStudent(student)">
            <td>{{ student.firstName }}</td>
            <td> {{ student.lastName }}</td>
            <td> {{ student.result }}</td>
            <td class="text-right">
              <button class="btn text-nowrap px-1" (click)="deleteStudent(student.id)">
                <keen-icon name="trash" size="medium-3" color="danger"></keen-icon>
              </button>
            </td>
          </tr>
      }
      </tbody>
    </table>
  </div>
</div>
