<ngb-accordion [destroyOnHide]="false" [closeOthers]="true">
  @for (group of pageResult?.data; track group) {
    <ngb-panel id="group{{ group.id }}" [cardClass]="'collapse-margin'">
      <ng-template ngbPanelTitle>
        <span>{{ group.name }}</span>
      </ng-template>
      <ng-template ngbPanelContent>
        {{ group.students }}
      </ng-template>
    </ngb-panel>
  }
</ngb-accordion>

<pagination
  (pageChange)="pageChange($event)"
  (pageSizeChange)="pageSizeChange($event)"
  [(page)]="pageNumber"
  [collectionSize]="total"
  [maxSize]="maxSize"
  [pageOptions]="pageOptions"
  [pageSize]="pageSize"
  [rotate]="true">
</pagination>
