<div class="content-wrapper container-xxl p-0 full-width mb-1">
  <div class="content-body">
    <div class="card">
      <div class="card-body align-items-center d-flex justify-content-between">
        <div class="text-dark">{{ coreConfig.app.appTitle }} ©</div>
        <div>
          Powered by
          <a ngbTooltip="Angular" href="https://angular.io/">
            <keen-icon type="duotone" name="angular"></keen-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


<!--<app-scroll-top *ngIf="coreConfig.layout.scrollTop"></app-scroll-top>-->
